{% extends 'appbateros/base.html' %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Bateros!</title>
    
</head>
<body>
    <h3 style="color: rgba(172, 243, 7, 0.938)0, 0, 0, 0.267 ">About</h3>
    <a href="https://ibb.co/xsMP4Fn"><img src="https://i.ibb.co/xsMP4Fn/los-mejores-bateristas-del-mundo-1200x720.webp" alt="los-mejores-bateristas-del-mundo-1200x720" border="0"></a>

    <article>
        
        <p>Buenas... soy Juan Sandez un programador que esta en busqueda de superarse a si mismo, <br>
         sé que el la carrera de programador no se termina nunca pero estoy superandome cada vez mas <br>
        Esta pagina hecha con el corazon porque puedo juntar la programacion y la bateria que son dos cosas <br>
        que mas me gustan hacer en la vida.
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
          </svg>

          <a href="{% url 'Inicio' %}">Volver al inicio</a>

        </p>
    </article>
</body>
</html>
{% endblock main_content %}