{% extends 'appbateros/base.html' %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Clases de bateria</h3> <br>

    <p>Las clases se pueden dictar de manera online o presencial.</p>

    <div class="card-group">
        <div class="card">
          <img src="https://i.ytimg.com/vi/jdtAmW8gFTk/maxresdefault.jpg" width="200" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gonzalo Velez</h5>
            <p class="card-text">Zona norte: Boulogne.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="https://api.whatsapp.com/send?phone=541150584852&text=hola,%20¿qué%20tal?ví%20un%20anuncio%20en%20Bateros!">Mensaje</a>

          </div>
        </div>
        <div class="card">
          <img src="https://http2.mlstatic.com/D_NQ_NP_884674-MLA44709979982_012021-O.webp" width="200" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Julián Di Lillo</h5>
            <p class="card-text">Zona sur: Lanús.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="https://api.whatsapp.com/send?phone=541133839318&text=hola,%20¿qué%20tal?ví%20un%20anuncio%20en%20Bateros!">Mensaje</a>
            
          </div>
        </div>
        <div class="card">
          <img src="https://http2.mlstatic.com/D_NQ_NP_752873-MLA49112380057_022022-O.webp" width="200" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Luciano Varela</h5>
            <p class="card-text">Zona CABA: Palermo.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>            
            <a href="https://api.whatsapp.com/send?phone=541155894775&text=hola,%20¿qué%20tal?ví%20un%20anuncio%20en%20Bateros!">Mensaje</a>
          </div>
        </div>
      </div>
    
</body>
</html>

{% endblock main_content %}