
{% extends "appbateros/base.html" %}



<!-- {% load static %} -->

{% block main_content %}

<h3>Libros</h3>
<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.ibb.co/DGsVB3N/syncopation.jpg" alt="syncopation" border="0" width="180" height="250"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Syncopation</h5>
          <p class="card-text">This is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Descargar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.ibb.co/XS9tQtS/Stick-Control.jpg" class="img-fluid rounded-start" alt="..." width="190" height="300">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Stick Control</h5>
          <p class="card-text">Tontent. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Descargar
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://i.ibb.co/k3C3Qrk/oscardauria.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Oscar Dauria</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Descargar
          </button>
        </div>
      </div>
    </div>
  </div>
  

{% endblock main_content %}

