{% extends 'appbateros/base.html' %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Bateros!</title>
</head>
<body>
<!-- 
    <body style="background-color:#343a40;">
    </body> -->
    <h3>Logueate</h3> <br>
    <h6>Inicia sesion para enterarte de todas las novedades...</h6>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit"> Iniciar Sesion</button>

        <br>
        <a href="{% url 'Inicio' %}">Volver al inicio</a>

    </form>
    
</body>
</html>
{% endblock main_content %}