{% extends 'appbateros/base.html' %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post!</title>
</head>
<body>
<h1>Bienvenidos</h1>


{{elemento.nombre}}



<h4>Aca van a estar todos los POST!</h4>
                    
    
        
    <h6>Catriel Ciavarella (n. 1 de septiembre de 1979) es un baterista argentino de rock que actualmente toca en la banda Divididos.</h6>
    <a href="https://ibb.co/xF5ppT3"><img src="https://i.ibb.co/phXttFn/IMG-5552.jpg" alt="IMG-5552" border="0"></a>
        
    {% for elemento in articulos %}
    <article>
        <h3>{{ elemento.nombre }}</h3>
        <p>
            {{elemento.contenido}}
            <img src="{{ elemento.imagen}}">
            <footer>
                Autor: {{ elemento.autor }}
                Fecha: {{ elemento.fecha }}
            </footer>
        </p>
    </article>
    {% endfor %}



    
</body>
</html>
{% endblock main_content %}